################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/WpfApp2/FileContentIndex/eaa00955-db61-4182-9ba2-e6a5e0ba75c9.vsidx
